#-----------------------------------------------------------------------------#
#                                                                             #
#      			DEFAULT CONFIGURATION FILE 			      #
#                                                                             #
#-----------------------------------------------------------------------------#
#
# - Make sure this application is built before running this script
# - You can customizes this config file to point to your own application images
#

--file=../../examples/enet_fota/am243x-evm/r5fss0-0_freertos/ti-arm-clang/enet_fota.release.mcelf.hs_fs
